.topBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e2d;
  color: #fff;
  width: 95%;
  height: 60px;
}
.search-bar {
  display: flex;
  border-radius: 3px;
  background-color: #f4f4f9;
  padding: 5px;
  margin-right: 10px;
}
.search-bar span {
  color: black;
  padding-right: 10px;
}
.search-bar input {
  border: none;
  outline: none;
}
.topBar-icon {
  display: flex;
}
.topBar-icon .icn {
  margin-right: 10px;
  font-size: 16px;
}

main {
  transition: margin-left 0.3s ease-in-out;
  background: #f4f4f9;
}

.sidebar {
  background-color: #1e1e2d;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  /* height: 100%; */
  height: calc(100vh - 100px);
  width: 200px;
  margin-top: 100px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  /* scrollbar-width: thin; */
}

.sidebar .menu-item {
  padding: 20px 30px;
  font-size: 16px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
}

.sidebar .menu-item:hover {
  background: #3e3e5c;
  cursor: pointer;
}
.sidebar .menu-item span {
  margin-left: 10px;
  text-align: center;
}
.top-bar-icon {
  position: relative;
  cursor: pointer;
}
.profile {
  display: flex;
  padding: 10px 20px;
}
.profile h2 {
  font-size: 13px;
}
.profile h3 {
  font-size: 12px;
  color: grey;
}
.profile-para {
  font-size: 14px;
  color: black;
  padding: 10px 20px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
}
.profile-para span {
  font-size: 14px;
  color: black;
  margin-left: 10px;
}
.profile-para:hover {
  background-color: gainsboro;
  cursor: pointer;
}
.profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 10%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s ease;
}

.overlay-content {
  background-color: #f4f4f9;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  /* padding: 20px; */
  border-radius: 10px;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.overlay-content h2 {
  color: black;
  text-align: center;
}
.horizontal-line {
  height: 1px;
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.logout-btn {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-btn span {
  margin-left: 10px;
}
.closebtn {
  border: none;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.closebtn:hover {
  cursor: pointer;
}

/* DashBoard Section */

.DashBoard-section {
  display: grid;
  grid-template-columns: 45% 25% 25%;
  gap: 20px;
  /* align-items: center; */
}
.DashBoard-content {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 20px;
  border-radius: 10px;
  height: 180px;
  background-color: #fff;
}
.stack-overflow-content {
  display: flex;
  flex-direction: column;
}
.stack-overflow-header {
  display: flex;
  justify-content: space-between;
}
.stack-overflow-middle {
  display: flex;
}
.stack-sales {
  color: #888a98;
  margin-right: 10px;
}

.stack-overflow-middle p {
  color: #72e128;
  font-weight: 500;
}
.stack-overflow-bottom {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.stack-overflow-bottom-content {
  display: flex;
  margin-bottom: 20px;
}
.stack-user-icon-bg {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7ff;
}
.stack-user-icon {
  font-size: 20px !important;
  color: #666cff;
}
.stack-overflow-bottom-content h3 {
  font-size: 14px;
}
.stack-overflow-bottom-content h4 {
  color: grey;
  font-weight: 400;
}

.stack-chart-icon-bg .stack-chart-icon {
  font-size: 20px !important;
  color: #fdb528;
}
.stack-chart-icon-bg {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3dd;
}
.stack-data-icon {
  font-size: 20px !important;
  color: #26c6f9;
}
.stack-data-icon-bg {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcf6fe;
}

.rating-card-content {
  display: flex;
}
.card-info h4 {
  margin-bottom: 10px;
}

.rating-header {
  border-radius: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7ff;
  padding: 5px;
}
.rating-header p {
  color: #666cff;
  font-size: 12px;
}
.ratings {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
.ratings h4 {
  font-size: 22px;
  font-weight: 500;
  margin-right: 10px;
}
.ratings p {
  color: rgba(114, 225, 40, 1);
}
.rating-img-card {
  padding: 10px;
}
.session-header {
  border-radius: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8fadd;
  padding: 5px;
}
.session-header p {
  color: #72e128;
  font-size: 14px;
}
.session {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
.session h4 {
  font-size: 22px;
  font-weight: 500;
  margin-right: 10px;
}
.session p {
  color: rgba(255, 77, 73, 1);
}
.session-img-card {
  padding: 20px;
}
