.Container {
  width: 900px;
  /* max-width: 900px; */
  margin: 0 auto;
  background-color: #ffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #674188;
}
.Container h2 {
  color: #674188;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}
.table-container {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-color: #ffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
th {
  background-color: #674188;
  color: #ffff;
  font-weight: 500;
  text-transform: uppercase;
}
tr:nth-child(even) {
  background-color: #e2bfd9;
}
tr:hover {
  background-color: #ebe9e8;
}
.errorMsg {
  color: #c82333;
  margin-bottom: 15px;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  margin: 20px 0px;
  transition: background-color 0.3s, transform 0.2s;
}
.btn-primary {
  background-color: #674188;
  margin: 0px 10px;
}
.btn-danger {
  background-color: #dc3545;
  margin: 0px 10px;
}
.btn-info {
  background-color: #33bee5;
  margin: 0px 10px;
}

.btn-add {
  background-color: #533366;
}
.btn-add:hover {
  transform: translateY(-2px);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: scaleUp 0.1s ease-out;
}
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-content button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.modal-content button[type="button"],
.modal-content button[type="cancel"] {
  background-color: #dc3545;
  color: white;
}

.modal-content button:hover {
  opacity: 0.9;
}
